
                    #Bicicle .cls-1, .cls-3 {
                      fill: #536dfe;
                    }
              
                    #Bicicle .cls-1, .cls-4 {
                      opacity: 0.1;
                    }
              
                    #Bicicle .cls-12, .cls-2 {
                      fill: none;
                      stroke-miterlimit: 10;
                    }
              
                    #Bicicle .cls-2 {
                      stroke: #536dfe;
                    }
              
                    #Bicicle .cls-5 {
                      fill: #a8a8a8;
                    }
              
                    #Bicicle .cls-6 {
                      opacity: 0.2;
                    }
              
                    #Bicicle .cls-7 {
                      fill: #ffd037;
                    }
              
                    #Bicicle .cls-8 {
                      fill: #535461;
                    }
              
                    #Bicicle .cls-9 {
                      fill: #db8b8b;
                    }
              
                    #Bicicle .cls-10 {
                      opacity: 0.05;
                    }
              
                    #Bicicle .cls-11 {
                      fill: #abb1d1;
                    }
              
                    #Bicicle .cls-12 {
                      stroke: #c1272d;
                    }
              
                    #Bicicle .cls-13 {
                      fill: #fff;
                    }
              
                    #Bicicle .cls-14 {
                      fill: #472727;
                    }