                    #info-one-svg .cls-1, .cls-2 {
                      fill: #4ab74e;
                    }
              
                    #info-one-svg .cls-1, .cls-3, .cls-5 {
                      opacity: 0.1;
                    }
              
                    #info-one-svg .cls-4 {
                      fill: #67647e;
                    }
              
                    #info-one-svg .cls-6, .cls-8 {
                      fill: none;
                      stroke: #535461;
                      stroke-miterlimit: 10;
                    }
              
                    #info-one-svg .cls-7 {
                      fill: #f5f5f5;
                    }
              
                    #info-one-svg .cls-10, .cls-19, .cls-7 {
                      opacity: 0.2;
                    }
              
                    #info-one-svg .cls-8 {
                      stroke-width: 2px;
                    }
              
                    #info-one-svg .cls-9 {
                      fill: #a8a8a8;
                    }
              
                    #info-one-svg .cls-11 {
                      fill: #ffd037;
                    }
              
                    #info-one-svg .cls-12 {
                      fill: #dc9ba3;
                    }
              
                    #info-one-svg .cls-13, .cls-18, .cls-20 {
                      opacity: 0.05;
                    }
              
                    #info-one-svg .cls-14 {
                      fill: #ffd2d9;
                    }
              
                    #info-one-svg .cls-15 {
                      fill: #e9e9ef;
                    }
              
                    #info-one-svg .cls-16 {
                      fill: #cedad5;
                    }
              
                    #info-one-svg .cls-17 {
                      fill: #844f6e;
                    }
              
                    #info-one-svg .cls-19 {
                      fill: #fff;
                    }
              
                    #info-one-svg .cls-20 {
                      fill: lime;
                    }
              
                    #info-one-svg .cls-21 {
                      fill: url(#linear-gradient);
                    }
              
                    #info-one-svg .cls-22 {
                      fill: #5f5d7e;
                    }
              
                    #info-one-svg .cls-23 {
                      fill: #fdc2cc;
                    }
              
                    #info-one-svg .cls-24 {
                      fill: #c4c8e2;
                    }
              
                    #info-one-svg .cls-25 {
                      fill: #d39999;
                    }
              
                    #info-one-svg .cls-26 {
                      fill: #4c4c56;
                    }
              
                    #info-one-svg .cls-27 {
                      fill: #865a61;
                    }
                    