                    .clase-1, .clase-2 {
                      fill: #4ab74e;
                    }
              
                    .clase-1, .clase-3, .clase-5 {
                      opacity: 0.1;
                    }
              
                    .clase-4 {
                      fill: #67647e;
                    }
              
                    .clase-6, .clase-8 {
                      fill: none;
                      stroke: #535461;
                      stroke-miterlimit: 10;
                    }
              
                    .clase-7 {
                      fill: #f5f5f5;
                    }
              
                    .clase-10, .clase-19, .clase-7 {
                      opacity: 0.2;
                    }
              
                    .clase-8 {
                      stroke-width: 2px;
                    }
              
                    .clase-9 {
                      fill: #a8a8a8;
                    }
              
                    .clase-11 {
                      fill: #ffd037;
                    }
              
                    .clase-12 {
                      fill: #dc9ba3;
                    }
              
                    .clase-13, .clase-18, .clase-20 {
                      opacity: 0.05;
                    }
              
                    .clase-14 {
                      fill: #ffd2d9;
                    }
              
                    .clase-15 {
                      fill: #e9e9ef;
                    }
              
                    .clase-16 {
                      fill: #cedad5;
                    }
              
                    .clase-17 {
                      fill: #844f6e;
                    }
              
                    .clase-19 {
                      fill: #fff;
                    }
              
                    .clase-20 {
                      fill: lime;
                    }
              
                    .clase-21 {
                      fill: url(#linear-gradient);
                    }
              
                    .clase-22 {
                      fill: #5f5d7e;
                    }
              
                    .clase-23 {
                      fill: #fdc2cc;
                    }
              
                    .clase-24 {
                      fill: #c4c8e2;
                    }
              
                    .clase-25 {
                      fill: #d39999;
                    }
              
                    .clase-26 {
                      fill: #4c4c56;
                    }
              
                    .clase-27 {
                      fill: #865a61;
                    }