/* GENERAL*/

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

p {
    color: grey;
}

/*NAVIGATION*/

/*HEADER*/

#header {
    margin-top: 5rem;
}


/*TESTIMONIAL*/

#testimonial {
    background: #f1f1f1f1;
    padding: 2.5rem 0 2.5rem 0;
    text-align: center;
    margin-top: 2.5rem;

}

/*INFO ONE*/

/*INFO TWO*/

/*CONTACT*/
#contact {
    background: #f1f1f1;
    margin-top: 2.5rem;
    padding: 2.5rem 0;
}

#contact .text-animation {
    margin-left: 15px;
    margin-top: -30px;
    position: absolute;
    z-index: -20;
    transition: all ease-out 0.2s;
}

#contact .message-animation {
    margin-left: 15px;
    margin-top: -130px;
    position: absolute;
    z-index: -20;
    transition: all ease-out 0.2s;
}

#contact input {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

#contact input:focus + 
.text-animation{
    margin-top: -70px;
}

#contact textarea {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
}

#contact textarea:focus + 
.message-animation{
    margin-top: -170px;
}



/*FOOOTER*/

#footer {
    color: #f1f1f1;
    
}

#footer a {
    color: #ffffff;
}

@media (min-width: 576px) { font-size: 8px; }

@media (min-width: 768px) { font-size: 16px; }

@media (min-width: 992px) { font-size: 24px; }

@media (min-width: 1200px) { font-size: 32px; }


/* LOGO ANIMATION*/
#logo-svg {
    animation: relleno 1s ease forwards 3.6s;
    font-size: 2rem;
    fill: transparent;
}

#logo-svg path:nth-child(1) {
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation: logo-ani 2s ease forwards;
}
#logo-svg path:nth-child(2) {
    stroke-dasharray: 581;
    stroke-dashoffset: 581;
    animation: logo-ani 2s ease forwards 0.2s;
}
#logo-svg path:nth-child(3) {
    stroke-dasharray: 246;
    stroke-dashoffset: 246;
    animation: logo-ani 2s ease forwards 0.4s;
}
#logo-svg path:nth-child(4) {
    stroke-dasharray: 789;
    stroke-dashoffset: 789;
    animation: logo-ani 2s ease forwards 0.6s;
}
#logo-svg path:nth-child(5) {
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation: logo-ani 2s ease forwards 0.8s;
}
#logo-svg path:nth-child(6) {
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: logo-ani 2s ease forwards 1s;
}
#logo-svg path:nth-child(7) {
    stroke-dasharray: 518;
    stroke-dashoffset: 518;
    animation: logo-ani 2s ease forwards 1.2s;
}
#logo-svg path:nth-child(8) {
    stroke-dasharray: 473;
    stroke-dashoffset: 473;
    animation: logo-ani 2s ease forwards 1.4s;
}
#logo-svg path:nth-child(9) {
    stroke-dasharray: 520;
    stroke-dashoffset: 520;
    animation: logo-ani 2s ease forwards 1.6s;
}
#logo-svg path:nth-child(10) {
    stroke-dasharray: 520;
    stroke-dashoffset: 520;
    animation: logo-ani 2s ease forwards 1.8s;
}

@keyframes logo-ani {
    to {stroke-dashoffset: 0; }
}

@keyframes relleno {
    from {fill: transparent; }
    to {fill: #ffffff; }
}

/* WATER-ANIMATION*/
.water-move {
    position: relative; 
}

.water-move h2 {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.water-move h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.water-move h2:nth-child(2) {
    color: #ffffff;
    animation: water-ani 8s ease-in-out infinite;
}
@keyframes water-ani {
  0%,100% {
    clip-path: polygon(0 41%, 20% 38%, 36% 48%, 45% 61%, 57% 68%, 71% 70%, 84% 64%, 100% 60%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 64%, 19% 69%, 35% 66%, 45% 61%, 57% 53%, 72% 44%, 85% 38%, 100% 34%, 100% 100%, 0% 100%);
  }
}

/*BIKE ANIMATION*/

#front-wheel, #back-wheel {
    animation: wheel 5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#body-bike {
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

 @keyframes bike {
     from {
        transform: rotateX(0deg);
     }
     to {
        transform: rotateX(15deg);
     }
 }

 /* INFO-ONE-SVG */

 #top-tree, #top-tree-2 {
     animation: wind-tree 2.5s ease-in-out infinite alternate;
     transform-origin: center;
 }

 @keyframes wind-tree {
     from {
         transform: translate(-10px, 10px) rotateY(-10deg);
     }
     to {
         transform: translate(10px, 0px) rotateY(10deg);
     }
 }

#plant-3, #plant-4, #plant-6 {
     animation: wind-plant 1.5s ease-in-out infinite alternate;
 }

 @keyframes wind-plant {
     from {transform: translate(0px,5px) rotateX(-10deg);}
     to {transform: translate(10px, -5px) rotateY(5deg);}
 }

 #leaf {
     animation: wind-leaf 4s linear infinite;
 }

 @keyframes wind-leaf {
     0% {opacity: 0; transform: translateY(-50px);}
     10% { opacity: 1; transform: translateY(-40px);}
     90% { opacity: 1; transform: translateY(90px);}
     100% { opacity: 0;transform: translateY(100px);}
 }

/* INFO-TWO-SVG */

#leaf-3 {
    animation: wind-leaf-3 4s linear infinite;
}

@keyframes wind-leaf-3 {
    0% {opacity: 0; transform: translateY(-100px);}
    10% { opacity: 1; transform: translateY(-80px);}
    90% { opacity: 1; transform: translateY(80px);}
    100% { opacity: 0;transform: translateY(100px);}
}

#info-two-back {
    animation: back-move 5s ease-in-out infinite alternate;
}

@keyframes back-move {
    from {transform: translate(10px, -10px);}
    to {transform: translate(-10px, 10px);}
}

#leaf-2, #leaf-1 {
    animation: wind-leaf-2 8s linear infinite;
}

@keyframes wind-leaf-2 {
    0% {opacity: 0; transform: translateY(-150px) scale(0.5);}
    10% { opacity: 1; transform: translateY(-130px) scale(0.5);}
    90% { opacity: 1; transform: translateY(10px) scale(1);}
    100% { opacity: 0;transform: translateY(30px) scale(1);}
}


#car {
    animation: car-ani 4s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@keyframes car-ani {
    from {transform: translateX(10px) scale(0.95);}
    to {transform: translateX(-10px) scale(1);}
}